In [2]:
import pymongo

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [4]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [5]:
mycol = mydb["customers"]

In [7]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [8]:
print(mydb.list_collection_names())

['customers']

In [9]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [10]:
x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('601ba1de670addc33c46982d'), ObjectId('601ba1de670addc33c46982e'), ObjectId('601ba1de670addc33c46982f'), ObjectId('601ba1de670addc33c469830'), ObjectId('601ba1de670addc33c469831'), ObjectId('601ba1de670addc33c469832'), ObjectId('601ba1de670addc33c469833'), ObjectId('601ba1de670addc33c469834'), ObjectId('601ba1de670addc33c469835'), ObjectId('601ba1de670addc33c469836'), ObjectId('601ba1de670addc33c469837'), ObjectId('601ba1de670addc33c469838')]

In [11]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('601ba09f670addc33c46982c'), 'name': 'John', 'address': 'Highway 37'}

In [12]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('601ba09f670addc33c46982c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601ba1de670addc33c46982d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('601ba1de670addc33c46982e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('601ba1de670addc33c46982f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601ba1de670addc33c469830'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('601ba1de670addc33c469831'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('601ba1de670addc33c469832'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601ba1de670addc33c469833'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('601ba1de670addc33c469834'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601ba1de670addc33c469835'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('601ba1de670addc33c469836'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('601ba1de670addc33c469837'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('601ba1de670addc33c469838'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }): ## 0 suppresses/ can just suppress columns - see below
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [14]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('601ba09f670addc33c46982c'), 'name': 'John'}
{'_id': ObjectId('601ba1de670addc33c46982d'), 'name': 'Amy'}
{'_id': ObjectId('601ba1de670addc33c46982e'), 'name': 'Hannah'}
{'_id': ObjectId('601ba1de670addc33c46982f'), 'name': 'Michael'}
{'_id': ObjectId('601ba1de670addc33c469830'), 'name': 'Sandy'}
{'_id': ObjectId('601ba1de670addc33c469831'), 'name': 'Betty'}
{'_id': ObjectId('601ba1de670addc33c469832'), 'name': 'Richard'}
{'_id': ObjectId('601ba1de670addc33c469833'), 'name': 'Susan'}
{'_id': ObjectId('601ba1de670addc33c469834'), 'name': 'Vicky'}
{'_id': ObjectId('601ba1de670addc33c469835'), 'name': 'Ben'}
{'_id': ObjectId('601ba1de670addc33c469836'), 'name': 'William'}
{'_id': ObjectId('601ba1de670addc33c469837'), 'name': 'Chuck'}
{'_id': ObjectId('601ba1de670addc33c469838'), 'name': 'Viola'}

In [15]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('601ba1de670addc33c469835'), 'name': 'Ben', 'address': 'Park Lane 38'}

In [16]:
mydoc

In [17]:
myquery = { "address": { "$gt": "S" } } ## modifier - need more examples

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('601ba1de670addc33c46982f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601ba1de670addc33c469832'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601ba1de670addc33c469834'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601ba1de670addc33c469838'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [18]:
myquery = { "address": { "$regex": "^S" } }  ## regex - I need to find out more about regex

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('601ba1de670addc33c469832'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601ba1de670addc33c469838'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [19]:
mydoc = mycol.find().sort("name")  ## default is ascending

for x in mydoc:
  print(x)

{'_id': ObjectId('601ba1de670addc33c46982d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('601ba1de670addc33c469835'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('601ba1de670addc33c469831'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('601ba1de670addc33c469837'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('601ba1de670addc33c46982e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('601ba09f670addc33c46982c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601ba1de670addc33c46982f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601ba1de670addc33c469832'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601ba1de670addc33c469830'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('601ba1de670addc33c469833'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('601ba1de670addc33c469834'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601ba1de670addc33c469838'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('601ba1de670addc33c469836'), 'name': 'William', 'address': 'Central st 954'}

In [20]:
mydoc = mycol.find().sort("name", -1) ## -1 is flag to sort descending

for x in mydoc:
  print(x)

{'_id': ObjectId('601ba1de670addc33c469836'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('601ba1de670addc33c469838'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('601ba1de670addc33c469834'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601ba1de670addc33c469833'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('601ba1de670addc33c469830'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('601ba1de670addc33c469832'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601ba1de670addc33c46982f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601ba09f670addc33c46982c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601ba1de670addc33c46982e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('601ba1de670addc33c469837'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('601ba1de670addc33c469831'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('601ba1de670addc33c469835'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('601ba1de670addc33c46982d'), 'name': 'Amy', 'address': 'Apple st 652'}

In [21]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery) ## delete based on above criteria

In [22]:
mydoc = mycol.find().sort("name", -1) ## -1 is flag to sort descending

for x in mydoc:
  print(x)

{'_id': ObjectId('601ba1de670addc33c469836'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('601ba1de670addc33c469838'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('601ba1de670addc33c469834'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('601ba1de670addc33c469833'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('601ba1de670addc33c469830'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('601ba1de670addc33c469832'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('601ba1de670addc33c46982f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('601ba09f670addc33c46982c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('601ba1de670addc33c469837'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('601ba1de670addc33c469831'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('601ba1de670addc33c469835'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('601ba1de670addc33c46982d'), 'name': 'Amy', 'address': 'Apple st 652'}

In [23]:
myquery = { "address": {"$regex": "^S"} }  ## delete many documents based on Regex

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

2  documents deleted.

In [24]:
x = mycol.delete_many({}) ## no criteria - all

print(x.deleted_count, " documents deleted.")

10  documents deleted.

In [25]:
mycol.drop() ## drop collection

In [ ]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

In [ ]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

In [ ]:
myresult = mycol.find().limit(5)

#print the result:
for x in myresult:
  print(x)