In [161]:
import pandas as pd
import numpy as np
import os
import geopandas as gpd
from geopandas import plotting
##from geopandas import GeoDataFrame
import matplotlib.pyplot as plt
from matplotlib.widgets import Slider, Button, RadioButtons
from matplotlib.animation import FuncAnimation

from matplotlib import cm
from matplotlib import colors

from sqlalchemy import create_engine
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual,interactive_output, VBox, HBox 

from matplotlib.colors import TwoSlopeNorm

import shapely

from geopandas.tools import sjoin

from color import color

#%matplotlib widget

In [162]:
##path2file = '/home/jupyterlab/data/LSOAs_latest.csv'

In [163]:
engine = create_engine('postgresql://pythonuser:pythonuser@localhost:5432/data')

In [164]:
##connection = engine.raw_connection()

In [165]:
data_msoa = pd.read_sql_query('select code, mf, age, population from public.msoa_populations',con=engine)
data_msoa

              code    mf       age  population
0        E02000001   All       0.0        75.0
1        E02000001   All       1.0        86.0
2        E02000001   All      10.0        94.0
3        E02000001   All      11.0        84.0
4        E02000001   All      12.0        86.0
...            ...   ...       ...         ...
1987471  W02000423  Male      88.0         5.0
1987472  W02000423  Male      89.0         9.0
1987473  W02000423  Male       9.0        49.0
1987474  W02000423  Male       90+        30.0
1987475  W02000423  Male  All Ages      5918.0

[1987476 rows x 4 columns]

In [166]:
data_lad = pd.read_sql_query('select code, mf, age, population from public.lad_populations',con=engine)
data_rgn = pd.read_sql_query('select code, mf, age, population from public.rgn_populations',con=engine)
data_ctry = pd.read_sql_query('select code, mf, age, population from public.ctry_populations',con=engine)

In [167]:
data_lad[data_lad['population']>10]

            code    mf       age  population
0      E06000001   All       0.0      1006.0
1      E06000001   All       1.0      1009.0
2      E06000001   All      10.0      1204.0
3      E06000001   All      11.0      1192.0
4      E06000001   All      12.0      1184.0
...          ...   ...       ...         ...
96043  W06000024  Male      88.0        55.0
96044  W06000024  Male      89.0        55.0
96045  W06000024  Male       9.0       367.0
96046  W06000024  Male       90+       144.0
96047  W06000024  Male  All Ages     29596.0

[95959 rows x 4 columns]

In [168]:
poly_lad = gpd.read_postgis('select code, geometry from public.poly_lad', con=engine,geom_col='geometry')
poly_ctry = gpd.read_postgis('select code, geometry from public.poly_ctry', con=engine,geom_col='geometry')
poly_msoa = gpd.read_postgis('select code, geometry from public.poly_msoa', con=engine,geom_col='geometry')
poly_rgn = gpd.read_postgis('select code, geometry from public.poly_rgn', con=engine,geom_col='geometry')

In [169]:
poly_msoa['labelposition'] = poly_msoa['geometry'].apply(lambda x: x.representative_point().coords[:])
poly_msoa['labelposition'] = [coords[0] for coords in poly_msoa['labelposition']]

poly_lad['labelposition'] = poly_lad['geometry'].apply(lambda x: x.representative_point().coords[:])
poly_lad['labelposition'] = [coords[0] for coords in poly_lad['labelposition']]

poly_rgn['labelposition'] = poly_rgn['geometry'].apply(lambda x: x.representative_point().coords[:])
poly_rgn['labelposition'] = [coords[0] for coords in poly_rgn['labelposition']]

poly_ctry['labelposition'] = poly_ctry['geometry'].apply(lambda x: x.representative_point().coords[:])
poly_ctry['labelposition'] = [coords[0] for coords in poly_ctry['labelposition']]

In [170]:
names_lad = pd.read_sql_query('select code ,name from public.ref_lad_names',con=engine)
names_ctry = pd.read_sql_query('select code ,name from public.ref_ctry_names',con=engine)
names_msoa = pd.read_sql_query('select code ,name from public.ref_msoa_names',con=engine)
names_rgn = pd.read_sql_query('select code ,name from public.ref_rgn_names',con=engine)

In [171]:
parent_child = pd.read_sql_query('select parent_code,parent_name,child_code,child_name,focus_level_name,focus_level_number from public.ref_parentchild;',con=engine)
parent_child['dropdownlist'] = parent_child['focus_level_number'].astype(str) + ' - ' + parent_child['focus_level_name']  + ' - ' + parent_child['parent_name']
parent_list = list(parent_child['dropdownlist'].unique())
parent_list.append('')
parent_list.sort()
##parent_list

In [172]:
described_data_lad = data_lad.merge(names_lad, on='code')
described_data_ctry = data_ctry.merge(names_ctry, on='code')
described_data_msoa = data_msoa.merge(names_msoa, on='code')
described_data_rgn = data_rgn.merge(names_rgn, on='code')

In [173]:
data2map_MF

,code,geometry,labelposition,mf,age,population,name
0,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,3.0,0,Wales
1,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,1.0,0,Wales
2,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,84.0,0,Wales
3,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,31.0,0,Wales
5,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,67.0,0,Wales
...,...,...,...,...,...,...,...
2733,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",Male,49.0,0,West Midlands
2741,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",Male,42.0,0,West Midlands
2745,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",Male,38.0,0,West Midlands
2747,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",Male,35.0,0,West Midlands
2748,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",Male,55.0,0,West Midlands

In [174]:
##data_rgn

In [175]:
##names_rgn

In [176]:
described_data_rgn_wp = described_data_rgn.merge(parent_child,left_on='code',right_on='child_code').copy()
described_data_rgn_wp = described_data_rgn_wp[['code','age','population','mf', 'name','parent_code','parent_name']]

described_data_lad_wp = described_data_lad.merge(parent_child,left_on='code',right_on='child_code').copy()
described_data_lad_wp = described_data_lad_wp[['code','age','population','mf', 'name','parent_code','parent_name']]

described_data_msoa_wp = described_data_msoa.merge(parent_child,left_on='code',right_on='child_code').copy()
described_data_msoa_wp = described_data_msoa_wp[['code','age','population','mf', 'name','parent_code','parent_name']]

In [177]:
described_data_msoa_wp

,code,age,population,mf,name,parent_code,parent_name
0,E02000001,0.0,75.0,All,City of London,E09000001,City of London
1,E02000001,1.0,86.0,All,City of London,E09000001,City of London
2,E02000001,10.0,94.0,All,City of London,E09000001,City of London
3,E02000001,11.0,84.0,All,City of London,E09000001,City of London
4,E02000001,12.0,86.0,All,City of London,E09000001,City of London
...,...,...,...,...,...,...,...
1874311,E02006934,88.0,3.0,Male,Pier Head,E08000012,Liverpool
1874312,E02006934,89.0,1.0,Male,Pier Head,E08000012,Liverpool
1874313,E02006934,9.0,4.0,Male,Pier Head,E08000012,Liverpool
1874314,E02006934,90+,4.0,Male,Pier Head,E08000012,Liverpool
1874315,E02006934,All Ages,5204.0,Male,Pier Head,E08000012,Liverpool

In [178]:
age_list = list(described_data_msoa_wp['age'].unique())
age_list.sort()
age_list

['0.0',
 '1.0',
 '10.0',
 '11.0',
 '12.0',
 '13.0',
 '14.0',
 '15.0',
 '16.0',
 '17.0',
 '18.0',
 '19.0',
 '2.0',
 '20.0',
 '21.0',
 '22.0',
 '23.0',
 '24.0',
 '25.0',
 '26.0',
 '27.0',
 '28.0',
 '29.0',
 '3.0',
 '30.0',
 '31.0',
 '32.0',
 '33.0',
 '34.0',
 '35.0',
 '36.0',
 '37.0',
 '38.0',
 '39.0',
 '4.0',
 '40.0',
 '41.0',
 '42.0',
 '43.0',
 '44.0',
 '45.0',
 '46.0',
 '47.0',
 '48.0',
 '49.0',
 '5.0',
 '50.0',
 '51.0',
 '52.0',
 '53.0',
 '54.0',
 '55.0',
 '56.0',
 '57.0',
 '58.0',
 '59.0',
 '6.0',
 '60.0',
 '61.0',
 '62.0',
 '63.0',
 '64.0',
 '65.0',
 '66.0',
 '67.0',
 '68.0',
 '69.0',
 '7.0',
 '70.0',
 '71.0',
 '72.0',
 '73.0',
 '74.0',
 '75.0',
 '76.0',
 '77.0',
 '78.0',
 '79.0',
 '8.0',
 '80.0',
 '81.0',
 '82.0',
 '83.0',
 '84.0',
 '85.0',
 '86.0',
 '87.0',
 '88.0',
 '89.0',
 '9.0',
 '90+',
 'All Ages']

In [179]:
lad_list = list(names_lad['name'].unique())
lad_list.append('')
lad_list.sort()
##lad_list

In [180]:
rgn_list = list(names_rgn['name'].unique())
rgn_list.append('')
rgn_list.sort()
#rgn_list

In [181]:
msoa_list = list(names_msoa['name'].unique())
msoa_list.append('')
msoa_list.sort()
##msoa_list

In [182]:
ctry_list = list(names_ctry['name'].unique())
ctry_list.sort()
ctry_list.append('')
##ctry_list

In [183]:
listwithlevel = []
for l in ctry_list:
    appendthis = ['Country',l]
    listwithlevel.append(appendthis)
for l in rgn_list:
    appendthis = ['Region',l]
    listwithlevel.append(appendthis)
for l in lad_list:
    appendthis = ['Local Authority',l]
    listwithlevel.append(appendthis)
for l in msoa_list:
    appendthis = ['MSOA',l]
    listwithlevel.append(appendthis)
#+ rgn_list + lad_list
#focus_list.sort()
##listwithlevel

In [184]:
#data2map = poly_lad.merge(data_lad, on='code')

In [185]:
#data2map.plot(column="cases")

In [186]:
lod_list = ['Country','Region','Local Authority','MSOA']

In [187]:
MF_list = ['Male','Female','All']

In [188]:
##poly_rgn[poly_rgn['code']=='E12000004']

In [189]:
data2map = poly_rgn.merge(described_data_rgn, on='code')
data2map
data2map[data2map['population']>10]

,code,geometry,labelposition,mf,age,population,name
0,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,3.0,17635.0,Wales
1,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,1.0,16535.0,Wales
2,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,84.0,6457.0,Wales
3,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,31.0,19604.0,Wales
4,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Female,21.0,19642.0,Wales
...,...,...,...,...,...,...,...
2755,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",All,26.0,80298.0,West Midlands
2756,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",Female,4.0,35589.0,West Midlands
2757,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",Female,45.0,35403.0,West Midlands
2758,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",All,4.0,73056.0,West Midlands
2759,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",All,88.0,16642.0,West Midlands

In [190]:
MFIn = 'Male'
LODIn = 'Region'
ParentIn = ''
AgeIn = '41.0'
#region_in = 'London'
if 'Country' in LODIn:
    data2map = poly_ctry.merge(described_data_ctry, on='code')

elif 'Region' in LODIn:
    data2map = poly_rgn.merge(described_data_rgn, on='code')

elif 'Local Authority' in LODIn:
    data2map = poly_lad.merge(described_data_lad, on='code')

elif 'MSOA' in LODIn:
    data2map = poly_msoa.merge(described_data_msoa, on='code')

else:
    data2map = poly_ctry.merge(described_data_ctry, on='code')



fis = ''.join(ParentIn) 
if len(fis) > 1:
    selection = ParentIn[0]
    selection_list = selection.split(' - ',2)
    parent_in = selection_list[2]
    lod_in = selection_list[1]
    if lod_in == 'Country':
        data2map = poly_rgn.merge(described_data_rgn_wp, on='code')

    elif lod_in == 'Region':
        data2map = poly_lad.merge(described_data_lad_wp, on='code')

    elif  lod_in == 'Local Authority':
        data2map = poly_msoa.merge(described_data_msoa_wp, on='code')

    else:
        data2map = poly_ctry.merge(described_data_ctry, on='code')

    data2map = data2map[data2map['parent_name']==parent_in]        

data2map_MF = data2map[data2map['mf']==MFIn]
data2map_age = data2map_MF[data2map_MF['age']==AgeIn]
data2map_return = data2map_age
vmin = data2map_age.population.min()
vmax = data2map_age.population.max()

vmin, vmax
data2map_age

,code,geometry,labelposition,mf,age,population,name
206,W92000004,"POLYGON ((153813.970 217655.046, 153828.401 21...","(265797.6916853029, 280294.71099907067)",Male,41.0,16063.0,Wales
306,E12000007,"POLYGON ((503592.644 176724.860, 503736.160 17...","(527963.9802716816, 178393.52333458513)",Male,41.0,69743.0,London
643,E12000009,"POLYGON ((90830.883 20669.112, 91267.260 20677...","(324459.06816802046, 125696.72905936986)",Male,41.0,29955.0,South West
1031,E12000008,"POLYGON ((403287.126 122058.165, 403526.912 12...","(594257.2659210193, 165708.6834766928)",Male,41.0,55637.0,South East
1249,E12000006,"POLYGON ((486601.346 217512.857, 486602.341 21...","(570005.2753496264, 260916.67966243305)",Male,41.0,36927.0,East of England
1638,E12000003,"POLYGON ((364231.721 474505.060, 364251.569 47...","(454459.78778458014, 448737.7375905364)",Male,41.0,30014.0,Yorkshire and The Humber
1741,E12000001,"POLYGON ((357816.708 593222.345, 357895.456 59...","(395753.0865956027, 581703.7551704168)",Male,41.0,13860.0,North East
2031,E12000004,"POLYGON ((397906.190 387359.166, 397914.489 38...","(487501.3633574941, 322602.1522701108)",Male,41.0,26200.0,East Midlands
2418,E12000002,"POLYGON ((294496.276 516566.708, 294516.082 51...","(344341.1660572934, 463686.1695019504)",Male,41.0,40537.0,North West
2598,E12000005,"POLYGON ((316423.472 285917.954, 316444.326 28...","(385855.3179355121, 292128.6004308525)",Male,41.0,32995.0,West Midlands

In [191]:
def filterframe(MFIn,LODIn,ParentIn,AgeIn):##,RgnIn,LADIn,MSOAIn,LSOAIn):
    #region_in = 'London'
    if 'Country' in LODIn:
        data2map = poly_ctry.merge(described_data_ctry, on='code')
        
    elif 'Region' in LODIn:
        data2map = poly_rgn.merge(described_data_rgn, on='code')
    
    elif 'Local Authority' in LODIn:
        data2map = poly_lad.merge(described_data_lad, on='code')
    
    elif 'MSOA' in LODIn:
        data2map = poly_msoa.merge(described_data_msoa, on='code')
    
    else:
        data2map = poly_ctry.merge(described_data_ctry, on='code')
        
    
    
    fis = ''.join(ParentIn) 
    if len(fis) > 1:
        selection = ParentIn[0]
        selection_list = selection.split(' - ',2)
        parent_in = selection_list[2]
        lod_in = selection_list[1]
        if lod_in == 'Country':
            data2map = poly_rgn.merge(described_data_rgn_wp, on='code')

        elif lod_in == 'Region':
            data2map = poly_lad.merge(described_data_lad_wp, on='code')

        elif  lod_in == 'Local Authority':
            data2map = poly_msoa.merge(described_data_msoa_wp, on='code')
            
        else:
            data2map = poly_ctry.merge(described_data_ctry, on='code')
        
        data2map = data2map[data2map['parent_name']==parent_in]        
    
    data2map_MF = data2map[data2map['mf']==MFIn]
    data2map_age = data2map_MF[data2map_MF['age']==AgeIn]
    data2map_return = data2map_age
    vmin = data2map_age.population.min()
    vmax = data2map_age.population.max()
    
    return data2map_return, vmin, vmax

##sw_df, vmin, vmax = filterframe(5,'',('Region',))
##sw_df, vmin, vmax

In [192]:
#interact(filterframe, WeekIn=widgets.IntSlider(min=5, max=40, step=1, value=25));

In [193]:
#gdf = GeoDataFrame(data2plot_df)

#data2plot_df.plot(column='value')

In [194]:
def f(x):
    return x

In [195]:
##interact(f, x=10);

In [196]:
data2plot,vmin,vmax = filterframe('Male',('Region',),'','41.0')
vmin,vmax

(13860.0, 69743.0)

In [197]:
def plotthegraph(MFIn,AgeIn,LODIn,ParentIn):##,RgnIn,LADIn,MSOAIn,LSOAIn):
    data2plot_latest,vmin_latest,vmax_latest = filterframe('All',LODIn,ParentIn,'40.0')
    data2plot,vmin,vmax = filterframe(MFIn,LODIn,ParentIn,AgeIn)
    
    fig, axs = plt.subplots(1, 2, figsize=(15,15),sharex=True, sharey=True)
    
    fig.subplots_adjust(right=0.8)
    cbar_ax = fig.add_axes([0.85, 0.15, 0.05, 0.7])
    mapname="rainbow"
    cmap = plt.get_cmap(mapname)
    cNorm = colors.Normalize(vmin=vmin, vmax=vmax)
    #scalarMap = cmx.ScalarMappable(norm=cNorm, cmap=cmap)
        
    fig.colorbar(cm.ScalarMappable(norm=cNorm, cmap=cmap),  ax=axs, cax=cbar_ax)
    
    titletoshow = str(MFIn) + ' - ' + str(LODIn) + ' - ' + str(AgeIn)
    axs[0].set_title(titletoshow)
    
    ##axs[1].imshow(z, aspect="auto")
    
    data2plot_latest.plot(column='population', ax=axs[1], legend=False, vmin=vmin, vmax=vmax, cmap=cmap)
    #data2plot_latest.plot(ax=axs[1],column='cases',vmin=vmin, vmax=vmax)
    polys2annotate = data2plot_latest[['name','labelposition']].drop_duplicates()
    top10_latest = data2plot_latest.sort_values(by='population',ascending=False).head(5)
    for idx, row in top10_latest.iterrows():
        axs[1].annotate(text=row['name'], xy=row['labelposition'],horizontalalignment='center',color='Black')
    axs[1].set_title('All')
    
    data2plot.plot(column='population', ax=axs[0], legend=False, vmin=vmin, vmax=vmax, cmap=cmap )
    #data2plot.plot(ax=axs[0],column='cases',vmin=vmin, vmax=vmax)
    polys2annotate = data2plot[['name','labelposition']].drop_duplicates()
    top10 = data2plot.sort_values(by='population',ascending=False).head(5)
    for idx, row in top10.iterrows():
        axs[0].annotate(text=row['name'], xy=row['labelposition'],horizontalalignment='center',color='Black')
    
    ##handles, labels = axs[0].get_legend_handles_labels()
    ##fig.legend(handles=handles, loc='lower center')
    
    ##fig.legend((axs[0]), 'lower centre')

In [198]:
MFwidget = widgets.Select(
    options=MF_list,
    value='All',
    #rows=10,
    description='MFIn',
    disabled=False
)

agewidget = widgets.Select(
    options=age_list,
    value='40.0',
    #rows=10,
    description='AgeIn',
    disabled=False
)

lodwidget = widgets.SelectMultiple(
    options=lod_list,
    value=['Region'],
    #rows=10,
    description='LODIn',
    disabled=False
)

parentwidget = widgets.SelectMultiple(
    options=parent_list,
    value=[''],
    #rows=10,
    description='ParentList',
    disabled=False
)

In [199]:
w = interactive_output(plotthegraph,{"MFIn":MFwidget,
                                     "AgeIn":agewidget,
                                     "LODIn":lodwidget,
                                     "ParentIn":parentwidget})

hbox1 = HBox([MFwidget,agewidget])
hbox2 = HBox([lodwidget,parentwidget])
vbox =  VBox([hbox1,hbox2])

display(w,vbox)

Output()

VBox(children=(HBox(children=(Select(description='MFIn', index=2, options=('Male', 'Female', 'All'), value='Al…