In [42]:
from datetime import datetime
import geopandas as gpd
import pandas as pd

import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual,interactive_output, VBox, HBox

In [43]:
now = datetime.now()
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

date and time = 11/10/2020 18:13:48

In [44]:
fp = '/home/jupyterlab/data/Lower_Layer_Super_Output_Areas__December_2011__Boundaries_EW_BFC_v3.shp'

In [45]:
map_df = gpd.read_file(fp)

In [46]:
now = datetime.now()
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

date and time = 11/10/2020 18:13:58

In [47]:
map_df.columns

Index(['OBJECTID', 'LSOA11CD', 'LSOA11NM', 'LSOA11NMW', 'Shape__Are',
       'Shape__Len', 'geometry'],
      dtype='object')

In [48]:
map_df.head()

,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,Shape__Are,Shape__Len,geometry
0,1,E01000001,City of London 001A,City of London 001A,129865.337669,2635.781429,"POLYGON ((532095.563 181577.351, 532095.125 18..."
1,2,E01000002,City of London 001B,City of London 001B,228419.333099,2708.052040,"POLYGON ((532267.728 181643.781, 532262.875 18..."
2,3,E01000003,City of London 001C,City of London 001C,59054.013168,1224.770897,"POLYGON ((532105.312 182010.574, 532104.872 18..."
3,4,E01000005,City of London 001E,City of London 001E,189577.165154,2275.832056,"POLYGON ((533610.974 181410.968, 533615.622 18..."
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,146536.520470,1966.162225,"POLYGON ((544817.826 184346.261, 544815.791 18..."

In [49]:
path2file = '/home/jupyterlab/data/Output_Area_to_LSOA_to_MSOA_to_Local_Authority_District__December_2017__Lookup_with_Area_Classifications_in_Great_Britain.csv'

In [50]:
oa_lookup_df = pd.read_csv(path2file)

In [51]:
lsoa_lookup_columns = oa_lookup_df[['LSOA11CD', 'LSOA11NM',
        'MSOA11CD', 'MSOA11NM', 'LAD17CD', 'LAD17NM', 'LACCD',
       'LACNM', 'RGN11CD', 'RGN11NM', 'CTRY11CD', 'CTRY11NM']]

In [52]:
lsoa_lookup_df = lsoa_lookup_columns.drop_duplicates()

In [53]:
shapewithregion_df = map_df.merge(lsoa_lookup_df, left_on='LSOA11CD', right_on='LSOA11CD')

In [54]:
shapewithregion_df.head()

,OBJECTID,LSOA11CD,LSOA11NM_x,LSOA11NMW,Shape__Are,Shape__Len,geometry,LSOA11NM_y,MSOA11CD,MSOA11NM,LAD17CD,LAD17NM,LACCD,LACNM,RGN11CD,RGN11NM,CTRY11CD,CTRY11NM
0,1,E01000001,City of London 001A,City of London 001A,129865.337669,2635.781429,"POLYGON ((532095.563 181577.351, 532095.125 18...",City of London 001A,E02000001,City of London 001,E09000001,City of London,5a1r,London Cosmopolitan,E12000007,London,E92000001,England
1,2,E01000002,City of London 001B,City of London 001B,228419.333099,2708.052040,"POLYGON ((532267.728 181643.781, 532262.875 18...",City of London 001B,E02000001,City of London 001,E09000001,City of London,5a1r,London Cosmopolitan,E12000007,London,E92000001,England
2,3,E01000003,City of London 001C,City of London 001C,59054.013168,1224.770897,"POLYGON ((532105.312 182010.574, 532104.872 18...",City of London 001C,E02000001,City of London 001,E09000001,City of London,5a1r,London Cosmopolitan,E12000007,London,E92000001,England
3,4,E01000005,City of London 001E,City of London 001E,189577.165154,2275.832056,"POLYGON ((533610.974 181410.968, 533615.622 18...",City of London 001E,E02000001,City of London 001,E09000001,City of London,5a1r,London Cosmopolitan,E12000007,London,E92000001,England
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,146536.520470,1966.162225,"POLYGON ((544817.826 184346.261, 544815.791 18...",Barking and Dagenham 016A,E02000017,Barking and Dagenham 016,E09000002,Barking and Dagenham,4a1r,Ethnically Diverse Metropolitan Living,E12000007,London,E92000001,England

In [55]:
#['OBJECTID', 'LSOA11CD', 'LSOA11NM_x', 'LSOA11NMW', 'Shape__Are',
#       'Shape__Len', 'geometry', 'LSOA11NM_y', 'MSOA11CD', 'MSOA11NM',
#       'LAD17CD', 'LAD17NM', 'LACCD', 'LACNM', 'RGN11CD', 'RGN11NM',
#       'CTRY11CD', 'CTRY11NM']
shapewithnames_df = shapewithregion_df[['OBJECTID', 'LSOA11CD', 'LSOA11NM_x', 'LSOA11NMW',
                   'Shape__Are','Shape__Len', 'geometry', 'MSOA11NM',
                   'LAD17NM', 'LACNM', 'RGN11NM', 'CTRY11NM']]
shapewithnames_df.head(5)

,OBJECTID,LSOA11CD,LSOA11NM_x,LSOA11NMW,Shape__Are,Shape__Len,geometry,MSOA11NM,LAD17NM,LACNM,RGN11NM,CTRY11NM
0,1,E01000001,City of London 001A,City of London 001A,129865.337669,2635.781429,"POLYGON ((532095.563 181577.351, 532095.125 18...",City of London 001,City of London,London Cosmopolitan,London,England
1,2,E01000002,City of London 001B,City of London 001B,228419.333099,2708.052040,"POLYGON ((532267.728 181643.781, 532262.875 18...",City of London 001,City of London,London Cosmopolitan,London,England
2,3,E01000003,City of London 001C,City of London 001C,59054.013168,1224.770897,"POLYGON ((532105.312 182010.574, 532104.872 18...",City of London 001,City of London,London Cosmopolitan,London,England
3,4,E01000005,City of London 001E,City of London 001E,189577.165154,2275.832056,"POLYGON ((533610.974 181410.968, 533615.622 18...",City of London 001,City of London,London Cosmopolitan,London,England
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,146536.520470,1966.162225,"POLYGON ((544817.826 184346.261, 544815.791 18...",Barking and Dagenham 016,Barking and Dagenham,Ethnically Diverse Metropolitan Living,London,England

In [56]:
region_list = shapewithnames_df['RGN11NM'].unique().tolist()
region_list

['London',
 'North West',
 'Yorkshire and The Humber',
 'North East',
 'West Midlands',
 'East Midlands',
 'South West',
 'East of England',
 'South East',
 'Wales']

In [64]:
def filterregion(region_in):
    shaperegion_out = shapewithnames_df[shapewithnames_df['RGN11NM'].isin(region_in)]
    return shaperegion_out
shaperegion_df = filterregion(('London',))

In [ ]:
def filterweek(region_in):
    regionweek_out = shapewithnames_df[shapewithnames_df['RGN11NM'].isin(region_in)]
    return shaperegion_out

In [65]:
regionwidget = widgets.SelectMultiple(
    options=region_list,
    value=['London'],
    #rows=10,
    description='RegionIn',
    disabled=False
)

In [66]:
def plotthegraph1(RegionIn):
    #data2plot = filterframe1(WeekIn,Region)
    shape_region = filterregion(RegionIn)
    data_week = 
    shape_region.plot()

w = interactive_output(plotthegraph1,{"RegionIn":regionwidget})

hbox1 = HBox([regionwidget])
#hbox2 = HBox([measurewidget,indexwidget, activitywidget])
vbox =  VBox([hbox1])

display(w,vbox)

Output()

VBox(children=(HBox(children=(SelectMultiple(description='RegionIn', index=(0,), options=('London', 'North Wes…