In [16]:
from datetime import datetime
import geopandas as gpd
import pandas as pd

In [17]:
now = datetime.now()
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

date and time = 11/10/2020 14:24:27

In [18]:
fp = '/home/jupyterlab/data/Lower_Layer_Super_Output_Areas__December_2011__Boundaries_EW_BFC_v3.shp'

In [19]:
map_df = gpd.read_file(fp)

In [20]:
now = datetime.now()
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

date and time = 11/10/2020 14:24:39

In [21]:
map_df.columns

Index(['OBJECTID', 'LSOA11CD', 'LSOA11NM', 'LSOA11NMW', 'Shape__Are',
       'Shape__Len', 'geometry'],
      dtype='object')

In [22]:
map_df.head()

,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,Shape__Are,Shape__Len,geometry
0,1,E01000001,City of London 001A,City of London 001A,129865.337669,2635.781429,"POLYGON ((532095.563 181577.351, 532095.125 18..."
1,2,E01000002,City of London 001B,City of London 001B,228419.333099,2708.052040,"POLYGON ((532267.728 181643.781, 532262.875 18..."
2,3,E01000003,City of London 001C,City of London 001C,59054.013168,1224.770897,"POLYGON ((532105.312 182010.574, 532104.872 18..."
3,4,E01000005,City of London 001E,City of London 001E,189577.165154,2275.832056,"POLYGON ((533610.974 181410.968, 533615.622 18..."
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,146536.520470,1966.162225,"POLYGON ((544817.826 184346.261, 544815.791 18..."

In [23]:
path2file = '/home/jupyterlab/data/Output_Area_to_LSOA_to_MSOA_to_Local_Authority_District__December_2017__Lookup_with_Area_Classifications_in_Great_Britain.csv'

In [24]:
oa_lookup_df = pd.read_csv(path2file)

In [25]:
lsoa_lookup_columns = oa_lookup_df[['LSOA11CD', 'LSOA11NM',
        'MSOA11CD', 'MSOA11NM', 'LAD17CD', 'LAD17NM', 'LACCD',
       'LACNM', 'RGN11CD', 'RGN11NM', 'CTRY11CD', 'CTRY11NM']]

In [26]:
lsoa_lookup_df = lsoa_lookup_columns.drop_duplicates()

In [27]:
shapewithregion_df = map_df.merge(lsoa_lookup_df, left_on='LSOA11CD', right_on='LSOA11CD')

In [28]:
shapewithregion_df.head()

,OBJECTID,LSOA11CD,LSOA11NM_x,LSOA11NMW,Shape__Are,Shape__Len,geometry,LSOA11NM_y,MSOA11CD,MSOA11NM,LAD17CD,LAD17NM,LACCD,LACNM,RGN11CD,RGN11NM,CTRY11CD,CTRY11NM
0,1,E01000001,City of London 001A,City of London 001A,129865.337669,2635.781429,"POLYGON ((532095.563 181577.351, 532095.125 18...",City of London 001A,E02000001,City of London 001,E09000001,City of London,5a1r,London Cosmopolitan,E12000007,London,E92000001,England
1,2,E01000002,City of London 001B,City of London 001B,228419.333099,2708.052040,"POLYGON ((532267.728 181643.781, 532262.875 18...",City of London 001B,E02000001,City of London 001,E09000001,City of London,5a1r,London Cosmopolitan,E12000007,London,E92000001,England
2,3,E01000003,City of London 001C,City of London 001C,59054.013168,1224.770897,"POLYGON ((532105.312 182010.574, 532104.872 18...",City of London 001C,E02000001,City of London 001,E09000001,City of London,5a1r,London Cosmopolitan,E12000007,London,E92000001,England
3,4,E01000005,City of London 001E,City of London 001E,189577.165154,2275.832056,"POLYGON ((533610.974 181410.968, 533615.622 18...",City of London 001E,E02000001,City of London 001,E09000001,City of London,5a1r,London Cosmopolitan,E12000007,London,E92000001,England
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,146536.520470,1966.162225,"POLYGON ((544817.826 184346.261, 544815.791 18...",Barking and Dagenham 016A,E02000017,Barking and Dagenham 016,E09000002,Barking and Dagenham,4a1r,Ethnically Diverse Metropolitan Living,E12000007,London,E92000001,England

In [31]:
#['OBJECTID', 'LSOA11CD', 'LSOA11NM_x', 'LSOA11NMW', 'Shape__Are',
#       'Shape__Len', 'geometry', 'LSOA11NM_y', 'MSOA11CD', 'MSOA11NM',
#       'LAD17CD', 'LAD17NM', 'LACCD', 'LACNM', 'RGN11CD', 'RGN11NM',
#       'CTRY11CD', 'CTRY11NM']
shapewithnames_df = shapewithregion_df[['OBJECTID', 'LSOA11CD', 'LSOA11NM_x', 'LSOA11NMW',
                   'Shape__Are','Shape__Len', 'geometry', 'MSOA11NM',
                   'LAD17NM', 'LACNM', 'RGN11NM', 'CTRY11NM']]
shapewithnames_df

,OBJECTID,LSOA11CD,LSOA11NM_x,LSOA11NMW,Shape__Are,Shape__Len,geometry,MSOA11NM,LAD17NM,LACNM,RGN11NM,CTRY11NM
0,1,E01000001,City of London 001A,City of London 001A,1.298653e+05,2635.781429,"POLYGON ((532095.563 181577.351, 532095.125 18...",City of London 001,City of London,London Cosmopolitan,London,England
1,2,E01000002,City of London 001B,City of London 001B,2.284193e+05,2708.052040,"POLYGON ((532267.728 181643.781, 532262.875 18...",City of London 001,City of London,London Cosmopolitan,London,England
2,3,E01000003,City of London 001C,City of London 001C,5.905401e+04,1224.770897,"POLYGON ((532105.312 182010.574, 532104.872 18...",City of London 001,City of London,London Cosmopolitan,London,England
3,4,E01000005,City of London 001E,City of London 001E,1.895772e+05,2275.832056,"POLYGON ((533610.974 181410.968, 533615.622 18...",City of London 001,City of London,London Cosmopolitan,London,England
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,1.465365e+05,1966.162225,"POLYGON ((544817.826 184346.261, 544815.791 18...",Barking and Dagenham 016,Barking and Dagenham,Ethnically Diverse Metropolitan Living,London,England
...,...,...,...,...,...,...,...,...,...,...,...,...
34748,34749,W01001954,Cardiff 006F,Caerdydd 006F,6.400567e+05,5590.933031,"POLYGON ((313127.782 180029.500, 313126.726 18...",Cardiff 006,Cardiff,Larger Towns and Cities,Wales,Wales
34749,34750,W01001955,Swansea 025F,Abertawe 025F,6.871192e+05,6038.201719,"POLYGON ((265541.431 193763.417, 265539.882 19...",Swansea 025,Swansea,Service Economy,Wales,Wales
34750,34751,W01001956,Swansea 023E,Abertawe 023E,2.500336e+06,13129.613468,"POLYGON ((261070.159 193185.479, 261069.911 19...",Swansea 023,Swansea,Service Economy,Wales,Wales
34751,34752,W01001957,Swansea 025G,Abertawe 025G,2.139180e+05,2830.060590,"POLYGON ((265234.000 192466.000, 265203.462 19...",Swansea 025,Swansea,Service Economy,Wales,Wales
34752,34753,W01001958,Swansea 025H,Abertawe 025H,3.122003e+05,4948.682155,"POLYGON ((266012.869 192754.434, 266014.202 19...",Swansea 025,Swansea,Service Economy,Wales,Wales