In [1]:
import pandas as pd
import numpy as np
import os
import geopandas as gpd
from geopandas import plotting
##from geopandas import GeoDataFrame
import matplotlib.pyplot as plt
from matplotlib import cm
from matplotlib.widgets import Slider, Button, RadioButtons
from matplotlib.animation import FuncAnimation
from sqlalchemy import create_engine
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual,interactive_output, VBox, HBox 

from matplotlib.colors import TwoSlopeNorm


import descartes as ds
from matplotlib.collections import PatchCollection
import shapely

from mpl_toolkits.basemap import Basemap

from geopandas.tools import sjoin

##import pygeos

%matplotlib widget

/home/jupyterlab/env/lib/python3.6/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
##%matplotlib notebook

In [3]:
engine = create_engine('postgresql://pythonuser:pythonuser@localhost:5432/data')
connection = engine.raw_connection()

In [5]:
poly_rgn = gpd.read_postgis('select code, geometry from public.poly_rgn', con=engine,geom_col='geometry')
data_rgn = pd.read_sql_query('select code , c.week, c.cases, c.cum_cases from public.cumsum_rgn c',con=engine)
names_rgn = pd.read_sql_query('select code ,name from public.ref_rgn_names',con=engine)
poly_rgn_described = poly_rgn.merge(names_rgn,on='code')

In [6]:
poly_rgn['coords'] = poly_rgn['geometry'].apply(lambda x: x.representative_point().coords[:])
poly_rgn_described['coords'] = poly_rgn_described['geometry'].apply(lambda x: x.representative_point())
poly_rgn_described['xy'] = poly_rgn_described['geometry'].apply(lambda x: x.representative_point().coords[:])
poly_rgn_described['xy'] = [poly[0] for poly in poly_rgn_described['xy']]
poly_rgn_described

,code,geometry,name,coords,xy
0,E12000005,"POLYGON ((433693.311 236453.095, 433690.438 23...",West Midlands,POINT (386780.652 292128.860),"(386780.65236126166, 292128.8595000005)"
1,E12000004,"MULTIPOLYGON (((549268.800 327550.600, 549263....",East Midlands,POINT (488224.391 322965.006),"(488224.3914650788, 322965.006)"
2,E12000001,"MULTIPOLYGON (((454888.999 526917.699, 454883....",North East,POINT (397173.932 579689.750),"(397173.9316737917, 579689.749500001)"
3,E12000002,"MULTIPOLYGON (((318561.000 387756.600, 318552....",North West,POINT (356039.474 463780.200),"(356039.47361027787, 463780.199999999)"
4,E12000003,"MULTIPOLYGON (((508210.400 484341.900, 508206....",Yorkshire and The Humber,POINT (446902.339 448736.275),"(446902.33933523437, 448736.2750000005)"
5,E12000008,"MULTIPOLYGON (((561372.327 98177.765, 561362.3...",South East,POINT (470061.712 172923.600),"(470061.71205027204, 172923.6000000005)"
6,E12000009,"MULTIPOLYGON (((394983.000 87745.700, 394982.9...",South West,POINT (381722.937 128742.449),"(381722.93713224883, 128742.44949999999)"
7,W92000004,"MULTIPOLYGON (((258969.949 187555.075, 258969....",Wales,POINT (290439.941 275392.509),"(290439.9414197451, 275392.5089999995)"
8,E12000006,"MULTIPOLYGON (((575823.700 182807.400, 575852....",East of England,POINT (542646.635 260883.820),"(542646.6347196766, 260883.8200000005)"
9,E12000007,"MULTIPOLYGON (((552861.608 175536.401, 552861....",London,POINT (517516.058 178391.579),"(517516.05752326647, 178391.5785)"

In [7]:
point_all = poly_rgn_described[poly_rgn['code']=='E12000004']
point_all

,code,geometry,name,coords,xy
1,E12000004,"MULTIPOLYGON (((549268.800 327550.600, 549263....",East Midlands,POINT (488224.391 322965.006),"(488224.3914650788, 322965.006)"

In [8]:
point_in = point_all[['code','coords']]

In [9]:
point = gpd.GeoDataFrame(point_in, geometry='coords')
point

        code                         coords
1  E12000004  POINT (488224.391 322965.006)

In [10]:
pointInPolys = sjoin(point, poly_rgn_described, how='inner')
pointInPolys.head()

,code_left,coords_left,index_right,code_right,name,coords_right,xy
1,E12000004,POINT (488224.391 322965.006),1,E12000004,East Midlands,POINT (488224.391 322965.006),"(488224.3914650788, 322965.006)"

In [11]:
ex = 488224.391
ey = 322965.006
df = gpd.GeoDataFrame([[ex, ey]], columns=list('xy'))
df['point'] = gpd.points_from_xy(df['x'],df['y']) #(df.Longitude, df.Latitude))
point = gpd.GeoDataFrame(df, geometry='point')
pointInPolys = sjoin(point, poly_rgn_described, how='inner')
exs = str(ex)
eys = str(ey)
dfs = df.to_string()
#prds = self.poly_rgn_described['name'].to_string()
pip = pointInPolys['name'].to_string()
#ax[1].set_title(exs + ' - ' + eys)
print(pip)

0    East Midlands

In [12]:
fig, ax = plt.subplots(1,2,figsize=(10, 10))
poly_rgn.plot(ax=ax[1])

class GetPosn:
    def __init__(self, startposn, poly_rgn_described):
        self.startposn = startposn
        self.xs = list(startposn.get_xdata())
        self.ys = list(startposn.get_ydata())
        self.cid = startposn.figure.canvas.mpl_connect('button_press_event', self)
        self.poly_rgn_described = poly_rgn_described
        #self.points_df = gpd.GeoDataFrame([[0, 0]], columns=list('xy'))
        
    def __call__(self, event):
        print('click', event)
        if event.inaxes!=self.startposn.axes: return
        ex = event.xdata
        ey = event.ydata
        df = gpd.GeoDataFrame([[ex, ey]], columns=list('xy'))
        df['point'] = gpd.points_from_xy(df['x'],df['y']) #(df.Longitude, df.Latitude))
        point = gpd.GeoDataFrame(df, geometry='point')
        pointInPolys = sjoin(point, self.poly_rgn_described, how='inner')
        exs = str(ex)
        eys = str(ey)
        dfs = df.to_string()
        #prds = self.poly_rgn_described['name'].to_string()
        pip = pointInPolys['name'].to_string(index=False)
        
        ax[1].annotate(text=pip, xy=(ex,ey) ,horizontalalignment='center')
        #set_title(exs + ' - ' + eys)
        ax[1].set_title(pip)
        
ax[1].set_title('click to build line segments')
startposn, = ax[1].plot([0], [0])  # empty line
posn = GetPosn(startposn,poly_rgn_described)

#for idx, row in poly_rgn_described.iterrows():
#    ax[1].annotate(text=row['name'], xy=row['xy'],horizontalalignment='center')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

https://borealperspectives.org/2016/03/07/plotting-polygon-shapefiles-on-a-matplotlib-basemap-with-geopandas-shapely-and-descartes/

In [ ]:
studyarea = shapely.geometry.box(400000., 100000., 600000., 200000.)
ax1 = poly_rgn[poly_rgn.geometry.intersects(studyarea)].plot()
#ax1.set_aspect(2)
fig = plt.gcf()
fig.set_size_inches(10, 15)

https://borealperspectives.org/2016/03/07/plotting-polygon-shapefiles-on-a-matplotlib-basemap-with-geopandas-shapely-and-descartes/