In [44]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
import os

https://coronavirus.data.gov.uk/about-data#cases-by-lower-super-output-area-lsoa

In [45]:
path2file = '/home/jupyterlab/data/LSOAs_latest.csv'

In [46]:
lsoa_latest_df = pd.read_csv(path2file)

In [47]:
lsoa_latest_df.head(5)

,lsoa11_cd,lsoa11_nm,wk_05,wk_06,wk_07,wk_08,wk_09,wk_10,wk_11,wk_12,...,wk_31,wk_32,wk_33,wk_34,wk_35,wk_36,wk_37,wk_38,wk_39,wk_40
0,E01000029,Barking and Dagenham 001C,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
1,E01000037,Barking and Dagenham 003B,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
2,E01000046,Barking and Dagenham 017D,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,3,-99,-99
3,E01000064,Barking and Dagenham 006E,-99,-99,-99,-99,-99,-99,5,-99,...,-99,-99,-99,-99,-99,4,-99,-99,4,-99
4,E01000068,Barking and Dagenham 016E,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,4,-99,6,3

In [48]:
all_columns_list = list(lsoa_latest_df.columns)

In [49]:
id_vars_list = ['lsoa11_cd','lsoa11_nm']
for x in id_vars_list:
    all_columns_list.remove(x)

In [50]:
lsoa_data = pd.melt(lsoa_latest_df, id_vars=id_vars_list, value_vars=all_columns_list)

In [51]:
lsoa_data

         lsoa11_cd                  lsoa11_nm variable  value
0        E01000029  Barking and Dagenham 001C    wk_05    -99
1        E01000037  Barking and Dagenham 003B    wk_05    -99
2        E01000046  Barking and Dagenham 017D    wk_05    -99
3        E01000064  Barking and Dagenham 006E    wk_05    -99
4        E01000068  Barking and Dagenham 016E    wk_05    -99
...            ...                        ...      ...    ...
1182415  E01033600           Westminster 007F    wk_40    -99
1182416  E01033610              Thurrock 019B    wk_40    -99
1182417  E01033666            Manchester 017F    wk_40      3
1182418  E01033729             Greenwich 030E    wk_40    -99
1182419  E01033757             Liverpool 037E    wk_40      4

[1182420 rows x 4 columns]

In [52]:
lsoa_trend_data = lsoa_data.replace(-99,0)
lsoa_trend_data['weekasnumber'] = lsoa_trend_data['variable'].str[3:5].astype(int)

In [53]:
lsoa_trend_data

         lsoa11_cd                  lsoa11_nm variable  value  weekasnumber
0        E01000029  Barking and Dagenham 001C    wk_05      0             5
1        E01000037  Barking and Dagenham 003B    wk_05      0             5
2        E01000046  Barking and Dagenham 017D    wk_05      0             5
3        E01000064  Barking and Dagenham 006E    wk_05      0             5
4        E01000068  Barking and Dagenham 016E    wk_05      0             5
...            ...                        ...      ...    ...           ...
1182415  E01033600           Westminster 007F    wk_40      0            40
1182416  E01033610              Thurrock 019B    wk_40      0            40
1182417  E01033666            Manchester 017F    wk_40      3            40
1182418  E01033729             Greenwich 030E    wk_40      0            40
1182419  E01033757             Liverpool 037E    wk_40      4            40

[1182420 rows x 5 columns]

In [54]:
lsoa_trend_data_df = lsoa_trend_data.rename(columns={'lsoa11_cd':'LSOA11_CD',
                                                     'lsoa11_nm':'LSOA11_NM',
                                                     'variable':'WeekAsText',
                                                     'value':'Cases',
                                                     'weekasnumber':'Week'}).copy()

In [55]:
lsoa_trend_data_df

         LSOA11_CD                  LSOA11_NM WeekAsText  Cases  Week
0        E01000029  Barking and Dagenham 001C      wk_05      0     5
1        E01000037  Barking and Dagenham 003B      wk_05      0     5
2        E01000046  Barking and Dagenham 017D      wk_05      0     5
3        E01000064  Barking and Dagenham 006E      wk_05      0     5
4        E01000068  Barking and Dagenham 016E      wk_05      0     5
...            ...                        ...        ...    ...   ...
1182415  E01033600           Westminster 007F      wk_40      0    40
1182416  E01033610              Thurrock 019B      wk_40      0    40
1182417  E01033666            Manchester 017F      wk_40      3    40
1182418  E01033729             Greenwich 030E      wk_40      0    40
1182419  E01033757             Liverpool 037E      wk_40      4    40

[1182420 rows x 5 columns]

In [56]:
cwd = os.getcwd()
path2file =  cwd + '/' + 'data.csv' + ''''''
lsoa_trend_data_df.to_csv(path2file)
delim = ''','''

In [57]:
engine = create_engine('postgresql://pythonuser:pythonuser@localhost:5432/data')

In [58]:
import os
cwd = os.getcwd()
sqlfilename = cwd + '/CreateLSOATrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [59]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [60]:
sqlcmnd = 'COPY "raw_LSOATrends" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_LSOATrends" FROM \'/home/jupyterlab/voila_current/notebooks/Maps/data.csv\' DELIMITER \',\' CSV;'

In [61]:
with engine.connect().execution_options(autocommit=True) as con:

    con.execute(sqlcmnd)

In [62]:
sqlfilename = cwd + '/PopLSOATrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [63]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

UndefinedColumn: column "losa11_cd" does not exist
LINE 7: "losa11_cd",
        ^
HINT:  Perhaps you meant to reference the column "raw_LSOATrends.lsoa11_cd".