In [1]:
import pandas as pd
import geopandas as gp
from sqlalchemy import create_engine
import geoalchemy2
import psycopg2
import os
import csv

https://coronavirus.data.gov.uk/about-data#cases-by-lower-super-output-area-lsoa

In [2]:
path2file = '/home/jupyterlab/data/LSOAs_latest.csv'

In [3]:
lsoa_latest_df = pd.read_csv(path2file)

In [4]:
lsoa_latest_df.head(5)

,lsoa11_cd,lsoa11_nm,wk_05,wk_06,wk_07,wk_08,wk_09,wk_10,wk_11,wk_12,...,wk_31,wk_32,wk_33,wk_34,wk_35,wk_36,wk_37,wk_38,wk_39,wk_40
0,E01000029,Barking and Dagenham 001C,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
1,E01000037,Barking and Dagenham 003B,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
2,E01000046,Barking and Dagenham 017D,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,-99,3,-99,-99
3,E01000064,Barking and Dagenham 006E,-99,-99,-99,-99,-99,-99,5,-99,...,-99,-99,-99,-99,-99,4,-99,-99,4,-99
4,E01000068,Barking and Dagenham 016E,-99,-99,-99,-99,-99,-99,-99,-99,...,-99,-99,-99,-99,-99,-99,4,-99,6,3

In [5]:
all_columns_list = list(lsoa_latest_df.columns)

In [6]:
id_vars_list = ['lsoa11_cd','lsoa11_nm']
for x in id_vars_list:
    all_columns_list.remove(x)

In [7]:
lsoa_data = pd.melt(lsoa_latest_df, id_vars=id_vars_list, value_vars=all_columns_list)

In [8]:
lsoa_data

         lsoa11_cd                  lsoa11_nm variable  value
0        E01000029  Barking and Dagenham 001C    wk_05    -99
1        E01000037  Barking and Dagenham 003B    wk_05    -99
2        E01000046  Barking and Dagenham 017D    wk_05    -99
3        E01000064  Barking and Dagenham 006E    wk_05    -99
4        E01000068  Barking and Dagenham 016E    wk_05    -99
...            ...                        ...      ...    ...
1182415  E01033600           Westminster 007F    wk_40    -99
1182416  E01033610              Thurrock 019B    wk_40    -99
1182417  E01033666            Manchester 017F    wk_40      3
1182418  E01033729             Greenwich 030E    wk_40    -99
1182419  E01033757             Liverpool 037E    wk_40      4

[1182420 rows x 4 columns]

In [9]:
lsoa_trend_data = lsoa_data.replace(-99,0)
lsoa_trend_data['weekasnumber'] = lsoa_trend_data['variable'].str[3:5].astype(int)

In [10]:
lsoa_trend_data['weekasnumber'].unique()

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40])

In [11]:
lsoa_trend_data_df = lsoa_trend_data.rename(columns={'lsoa11_cd':'lsoa11_cd',
                                                     'lsoa11_nm':'lsoa11_nm',
                                                     'variable':'weekastext',
                                                     'value':'cases',
                                                     'weekasnumber':'week'}).copy()

In [12]:
lsoa_trend_data_df.columns

Index(['lsoa11_cd', 'lsoa11_nm', 'weekastext', 'cases', 'week'], dtype='object')

In [13]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

The file does not exist

In [14]:
cwd = os.getcwd()
##lsoa_trend_data_df = lsoa_trend_data_df.iloc[1:]
lsoa_trend_data_df.to_csv(path2file)
delim = ''','''

In [15]:
engine = create_engine('postgresql://pythonuser:pythonuser@localhost:5432/data')

In [16]:
import os
cwd = os.getcwd()
sqlfilename = cwd + '/CreateLSOATrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [17]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [18]:
sqlcmnd = 'COPY "raw_LSOATrends" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_LSOATrends" FROM \'/home/jupyterlab/data/data.csv\' DELIMITER \',\' CSV;'

In [19]:
with engine.connect().execution_options(autocommit=True) as con:

    con.execute(sqlcmnd)

In [20]:
sqlfilename = cwd + '/PopLSOATrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [21]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [22]:
ews_fp = '/home/jupyterlab/data/Lower_Layer_Super_Output_Areas__December_2011__Boundaries_EW_BFC_v3.shp'

In [23]:
ews_df = gp.GeoDataFrame.from_file(ews_fp)
ews_df.head()

,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,Shape__Are,Shape__Len,geometry
0,1,E01000001,City of London 001A,City of London 001A,129865.337669,2635.781429,"POLYGON ((532095.563 181577.351, 532095.125 18..."
1,2,E01000002,City of London 001B,City of London 001B,228419.333099,2708.052040,"POLYGON ((532267.728 181643.781, 532262.875 18..."
2,3,E01000003,City of London 001C,City of London 001C,59054.013168,1224.770897,"POLYGON ((532105.312 182010.574, 532104.872 18..."
3,4,E01000005,City of London 001E,City of London 001E,189577.165154,2275.832056,"POLYGON ((533610.974 181410.968, 533615.622 18..."
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,146536.520470,1966.162225,"POLYGON ((544817.826 184346.261, 544815.791 18..."

In [24]:
#from sqlalchemy import create_engine
#engine = create_engine("postgres://myusername:mypassword@myhost:5432/mydatabase";)
##ews_df.to_postgis("ew_poloys", engine)

In [25]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

In [26]:
ews_df.to_csv(path2file)

In [27]:
sw_df = ews_df[ews_df['LSOA11NM'].str.contains('Southwark')]

In [28]:
sw_df.to_postgis(
    con=engine,
    name="testpolytable",
    if_exists="replace"
)

In [29]:
cwd = os.getcwd()
sqlfilename = cwd + '/CreatePolyTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [30]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [31]:
sqlcmnd = 'COPY "raw_ew_lsoapolys" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_ew_lsoapolys" FROM \'/home/jupyterlab/data/data.csv\' DELIMITER \',\' CSV;'

In [32]:
with engine.connect().execution_options(autocommit=True) as con:
    con.execute(sqlcmnd)

In [33]:
cwd = os.getcwd()
sqlfilename = cwd + '/PopLSOAPOLYTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [34]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [35]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

In [36]:
path2file = '/home/jupyterlab/data/Output_Area_to_LSOA_to_MSOA_to_Local_Authority_District__December_2017__Lookup_with_Area_Classifications_in_Great_Britain.csv'

In [37]:
oa_lookup_df = pd.read_csv(path2file)

In [38]:
path2file =  '/home/jupyterlab/data/data.csv'

In [39]:
cwd = os.getcwd()
oa_lookup_df.to_csv(path2file,header=False,quoting=csv.QUOTE_ALL)

In [40]:
oa_lookup_df.columns

Index(['OA11CD', 'OAC11CD', 'OAC11NM', 'LSOA11CD', 'LSOA11NM', 'SOAC11CD',
       'SOAC11NM', 'MSOA11CD', 'MSOA11NM', 'LAD17CD', 'LAD17NM', 'LACCD',
       'LACNM', 'RGN11CD', 'RGN11NM', 'CTRY11CD', 'CTRY11NM', 'FID'],
      dtype='object')

oa_lookup_df.to_sql(
    con=engine,
    name="testoalookup",
    if_exists="replace"
)

In [41]:
cwd = os.getcwd()
sqlfilename = cwd + '/CreateLSOAMSOALookupTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [42]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [43]:
sqlcmnd = 'COPY "raw_lsoalookup" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_lsoalookup" FROM \'/home/jupyterlab/data/data.csv\' DELIMITER \',\' CSV;'

In [44]:
with engine.connect().execution_options(autocommit=True) as con:

    con.execute(sqlcmnd)

In [45]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

In [46]:
cwd = os.getcwd()
sqlfilename = cwd + '/PopLSOALookUpTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [47]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [48]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

The file does not exist