In [3]:
import pandas as pd
import geopandas as gp
from sqlalchemy import create_engine
import geoalchemy2
import psycopg2
import os
import csv

/home/jupyterlab/env/lib/python3.6/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

https://coronavirus.data.gov.uk/about-data#cases-by-lower-super-output-area-lsoa

In [4]:
path2file = '/home/jupyterlab/data/MSOAs_latest.csv'

In [5]:
msoa_latest_df = pd.read_csv(path2file)

In [6]:
msoa_latest_df.head(5)

,rgn19_cd,rgn19_nm,utla19_cd,utla19_nm,lad19_cd,lad19_nm,msoa11_cd,msoa11_hclnm,wk_05,wk_06,...,wk_33,wk_34,wk_35,wk_36,wk_37,wk_38,wk_39,wk_40,wk_41,latest_7_days
0,E12000007,London,E09000001,City of London,E09000001,City of London,E02000001,City of London,-99,-99,...,-99,4,-99,-99,-99,-99,6,5,5,4
1,E12000007,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,E02000002,Marks Gate,-99,-99,...,-99,-99,-99,-99,-99,5,7,4,6,7
2,E12000007,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,E02000003,Chadwell Heath East,-99,-99,...,4,-99,-99,4,10,9,8,9,9,11
3,E12000007,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,E02000004,Eastbrookend,-99,-99,...,-99,-99,-99,-99,-99,4,9,-99,12,13
4,E12000007,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,E02000005,Becontree Heath,-99,-99,...,-99,-99,-99,5,3,3,9,6,6,6

In [9]:
all_columns_list = list(msoa_latest_df.columns)
all_columns_list

['rgn19_cd',
 'rgn19_nm',
 'utla19_cd',
 'utla19_nm',
 'lad19_cd',
 'lad19_nm',
 'msoa11_cd',
 'msoa11_hclnm',
 'wk_05',
 'wk_06',
 'wk_07',
 'wk_08',
 'wk_09',
 'wk_10',
 'wk_11',
 'wk_12',
 'wk_13',
 'wk_14',
 'wk_15',
 'wk_16',
 'wk_17',
 'wk_18',
 'wk_19',
 'wk_20',
 'wk_21',
 'wk_22',
 'wk_23',
 'wk_24',
 'wk_25',
 'wk_26',
 'wk_27',
 'wk_28',
 'wk_29',
 'wk_30',
 'wk_31',
 'wk_32',
 'wk_33',
 'wk_34',
 'wk_35',
 'wk_36',
 'wk_37',
 'wk_38',
 'wk_39',
 'wk_40',
 'wk_41',
 'latest_7_days']

In [10]:
remove_list = ['rgn19_cd', 'rgn19_nm', 'utla19_cd', 'utla19_nm', 'lad19_cd', 'lad19_nm', 'msoa11_cd', 'msoa11_hclnm',]
for x in remove_list:
    all_columns_list.remove(x)

In [18]:
id_vars_list = ['msoa11_cd', 'msoa11_hclnm',]
msoa_data = pd.melt(msoa_latest_df, id_vars=id_vars_list, value_vars=all_columns_list)

In [19]:
msoa_data

        msoa11_cd                msoa11_hclnm       variable  value
0       E02000001              City of London          wk_05    -99
1       E02000002                  Marks Gate          wk_05    -99
2       E02000003         Chadwell Heath East          wk_05    -99
3       E02000004                Eastbrookend          wk_05    -99
4       E02000005             Becontree Heath          wk_05    -99
...           ...                         ...            ...    ...
258091  E02006931       Greenwich Town & Park  latest_7_days      9
258092  E02006932         Central & Islington  latest_7_days    237
258093  E02006933  Albert Dock & Queen's Dock  latest_7_days     40
258094  E02006934                   Pier Head  latest_7_days     32
258095  xxxxxxxxx                 unallocated  latest_7_days    942

[258096 rows x 4 columns]

In [20]:
msoa_trend_data = msoa_data.replace(-99,0)

In [21]:
msoa_trend_data['lenvar'] = msoa_trend_data['variable'].str.len()
msoa_trend_data = msoa_trend_data[msoa_trend_data['lenvar']==5]
msoa_trend_data['weekasnumber'] = msoa_trend_data['variable'].str[3:5].astype(int)
msoa_trend_data

,msoa11_cd,msoa11_hclnm,variable,value,lenvar,weekasnumber
0,E02000001,City of London,wk_05,0,5,5
1,E02000002,Marks Gate,wk_05,0,5,5
2,E02000003,Chadwell Heath East,wk_05,0,5,5
3,E02000004,Eastbrookend,wk_05,0,5,5
4,E02000005,Becontree Heath,wk_05,0,5,5
...,...,...,...,...,...,...
251299,E02006931,Greenwich Town & Park,wk_41,8,5,41
251300,E02006932,Central & Islington,wk_41,230,5,41
251301,E02006933,Albert Dock & Queen's Dock,wk_41,42,5,41
251302,E02006934,Pier Head,wk_41,37,5,41
251303,xxxxxxxxx,unallocated,wk_41,933,5,41

In [27]:
msoa_trend_data['weekasnumber'].unique()

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41])

In [28]:
msoa_trend_data.columns

Index(['msoa11_cd', 'msoa11_hclnm', 'variable', 'value', 'lenvar',
       'weekasnumber'],
      dtype='object')

In [29]:
msoa_trend_data_df = msoa_trend_data.rename(columns={'msoa11_cd':'code',
                                                     'msoa11_hclnm':'name',
                                                     'variable':'weekastext',
                                                     'value':'cases',
                                                     'weekasnumber':'week'}).copy()

In [30]:
msoa_trend_data_df.columns

Index(['code', 'name', 'weekastext', 'cases', 'lenvar', 'week'], dtype='object')

In [31]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

The file does not exist

In [32]:
cwd = os.getcwd()
##lsoa_trend_data_df = lsoa_trend_data_df.iloc[1:]
msoa_trend_data_df.to_csv(path2file)
delim = ''','''

In [33]:
engine = create_engine('postgresql://pythonuser:pythonuser@localhost:5432/data')

In [35]:
import os
cwd = os.getcwd()
sqlfilename = cwd + '/CreateMSOATrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [36]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [37]:
sqlcmnd = 'COPY "raw_MSOATrends" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_MSOATrends" FROM \'/home/jupyterlab/data/data.csv\' DELIMITER \',\' CSV;'

In [38]:
with engine.connect().execution_options(autocommit=True) as con:

    con.execute(sqlcmnd)

In [40]:
sqlfilename = cwd + '/PopMSOATrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [41]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [42]:
#from sqlalchemy import create_engine
#engine = create_engine("postgres://myusername:mypassword@myhost:5432/mydatabase";)
##ews_df.to_postgis("ew_poloys", engine)

In [43]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

In [64]:
path2file = '/home/jupyterlab/data/Output_Area_to_LSOA_to_MSOA_to_Local_Authority_District__December_2017__Lookup_with_Area_Classifications_in_Great_Britain.csv'

In [65]:
oa_lookup_df = pd.read_csv(path2file)

In [66]:
path2file =  '/home/jupyterlab/data/data.csv'

In [67]:
cwd = os.getcwd()
oa_lookup_df.to_csv(path2file,header=False,quoting=csv.QUOTE_ALL)

In [68]:
oa_lookup_df.columns

Index(['OA11CD', 'OAC11CD', 'OAC11NM', 'LSOA11CD', 'LSOA11NM', 'SOAC11CD',
       'SOAC11NM', 'MSOA11CD', 'MSOA11NM', 'LAD17CD', 'LAD17NM', 'LACCD',
       'LACNM', 'RGN11CD', 'RGN11NM', 'CTRY11CD', 'CTRY11NM', 'FID'],
      dtype='object')

oa_lookup_df.to_sql(
    con=engine,
    name="testoalookup",
    if_exists="replace"
)

In [69]:
cwd = os.getcwd()
sqlfilename = cwd + '/CreateLSOAMSOALookupTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [70]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [71]:
sqlcmnd = 'COPY "raw_lsoalookup" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_lsoalookup" FROM \'/home/jupyterlab/data/data.csv\' DELIMITER \',\' CSV;'

In [72]:
with engine.connect().execution_options(autocommit=True) as con:

    con.execute(sqlcmnd)

In [73]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

In [74]:
cwd = os.getcwd()
sqlfilename = cwd + '/PopLSOALookUpTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [75]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [76]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

The file does not exist

# Disolving Polygons

In [77]:
ews_fp = '/home/jupyterlab/data/Lower_Layer_Super_Output_Areas__December_2011__Boundaries_EW_BFC_v3.shp'
ews_df = gp.GeoDataFrame.from_file(ews_fp)
ews_df.head()

,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,Shape__Are,Shape__Len,geometry
0,1,E01000001,City of London 001A,City of London 001A,129865.337669,2635.781429,"POLYGON ((532095.563 181577.351, 532095.125 18..."
1,2,E01000002,City of London 001B,City of London 001B,228419.333099,2708.052040,"POLYGON ((532267.728 181643.781, 532262.875 18..."
2,3,E01000003,City of London 001C,City of London 001C,59054.013168,1224.770897,"POLYGON ((532105.312 182010.574, 532104.872 18..."
3,4,E01000005,City of London 001E,City of London 001E,189577.165154,2275.832056,"POLYGON ((533610.974 181410.968, 533615.622 18..."
4,5,E01000006,Barking and Dagenham 016A,Barking and Dagenham 016A,146536.520470,1966.162225,"POLYGON ((544817.826 184346.261, 544815.791 18..."

In [78]:
lsoa_lookup_columns = oa_lookup_df[['LSOA11CD','LSOA11NM','MSOA11CD', 'MSOA11NM', 'LAD17CD', 'LAD17NM', 'LACCD',
       'LACNM', 'RGN11CD', 'RGN11NM', 'CTRY11CD', 'CTRY11NM']]

In [79]:
lsoa_lookup_df = lsoa_lookup_columns.drop_duplicates()

In [80]:
data2dissolve_df = ews_df.merge(lsoa_lookup_df, left_on='LSOA11CD', right_on='LSOA11CD').copy()
data2dissolve_df.rename(columns={'LSOA11NM_x':'LSOA11NM'},inplace=True)
data2dissolve_df = data2dissolve_df[['OBJECTID', 'LSOA11CD','LSOA11NM','Shape__Are',
       'Shape__Len', 'geometry','MSOA11CD', 'MSOA11NM','LAD17NM',
       'LAD17CD', 'RGN11CD', 'RGN11NM',
       'CTRY11CD', 'CTRY11NM']]
data2dissolve_df.columns

Index(['OBJECTID', 'LSOA11CD', 'LSOA11NM', 'Shape__Are', 'Shape__Len',
       'geometry', 'MSOA11CD', 'MSOA11NM', 'LAD17NM', 'LAD17CD', 'RGN11CD',
       'RGN11NM', 'CTRY11CD', 'CTRY11NM'],
      dtype='object')

In [81]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

The file does not exist

In [82]:
data2dissolve_df.to_csv(path2file,header=False,quoting=csv.QUOTE_ALL)

In [83]:
cwd = os.getcwd()
sqlfilename = cwd + '/CreatePolyTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [84]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [85]:
sqlcmnd = 'COPY "raw_ew_lsoapolys" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_ew_lsoapolys" FROM \'/home/jupyterlab/data/data.csv\' DELIMITER \',\' CSV;'

In [86]:
with engine.connect().execution_options(autocommit=True) as con:
    con.execute(sqlcmnd)

In [87]:
cwd = os.getcwd()
sqlfilename = cwd + '/PopLSOAPOLYTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [88]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [89]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

In [ ]:
cwd = os.getcwd()
sqlfilename = cwd + '/CreateParentChild.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [ ]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

# Run Following Manually in PG Admin

In [ ]:
cwd = os.getcwd()
sqlfilename = cwd + '/CreateDisolvedPolyTables.sql'
f = open(sqlfilename, "r")
fs = f.read()