In [1]:
import pandas as pd
import geopandas as gp
from sqlalchemy import create_engine
import geoalchemy2
import psycopg2
import os
import csv

/home/jupyterlab/env/lib/python3.6/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

https://coronavirus.data.gov.uk/about-data#cases-by-lower-super-output-area-lsoa

In [2]:
path2file = '/home/jupyterlab/data/MSOAs_latest.csv'

In [3]:
msoa_latest_df = pd.read_csv(path2file)

In [4]:
msoa_latest_df.head(5)

,rgn19_cd,rgn19_nm,utla19_cd,utla19_nm,lad19_cd,lad19_nm,msoa11_cd,msoa11_hclnm,wk_05,wk_06,...,wk_33,wk_34,wk_35,wk_36,wk_37,wk_38,wk_39,wk_40,wk_41,latest_7_days
0,E12000007,London,E09000001,City of London,E09000001,City of London,E02000001,City of London,-99,-99,...,-99,4,-99,-99,-99,-99,6,5,5,4
1,E12000007,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,E02000002,Marks Gate,-99,-99,...,-99,-99,-99,-99,-99,5,7,4,6,9
2,E12000007,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,E02000003,Chadwell Heath East,-99,-99,...,4,-99,-99,4,10,9,8,9,9,7
3,E12000007,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,E02000004,Eastbrookend,-99,-99,...,-99,-99,-99,-99,-99,4,9,-99,12,7
4,E12000007,London,E09000002,Barking and Dagenham,E09000002,Barking and Dagenham,E02000005,Becontree Heath,-99,-99,...,-99,-99,-99,5,3,3,9,6,6,9

In [5]:
all_columns_list = list(msoa_latest_df.columns)
all_columns_list

['rgn19_cd',
 'rgn19_nm',
 'utla19_cd',
 'utla19_nm',
 'lad19_cd',
 'lad19_nm',
 'msoa11_cd',
 'msoa11_hclnm',
 'wk_05',
 'wk_06',
 'wk_07',
 'wk_08',
 'wk_09',
 'wk_10',
 'wk_11',
 'wk_12',
 'wk_13',
 'wk_14',
 'wk_15',
 'wk_16',
 'wk_17',
 'wk_18',
 'wk_19',
 'wk_20',
 'wk_21',
 'wk_22',
 'wk_23',
 'wk_24',
 'wk_25',
 'wk_26',
 'wk_27',
 'wk_28',
 'wk_29',
 'wk_30',
 'wk_31',
 'wk_32',
 'wk_33',
 'wk_34',
 'wk_35',
 'wk_36',
 'wk_37',
 'wk_38',
 'wk_39',
 'wk_40',
 'wk_41',
 'latest_7_days']

In [6]:
remove_list = ['rgn19_cd', 'rgn19_nm', 'utla19_cd', 'utla19_nm', 'lad19_cd', 'lad19_nm', 'msoa11_cd', 'msoa11_hclnm',]
for x in remove_list:
    all_columns_list.remove(x)

In [7]:
id_vars_list = ['msoa11_cd', 'msoa11_hclnm',]
msoa_data = pd.melt(msoa_latest_df, id_vars=id_vars_list, value_vars=all_columns_list)

In [8]:
msoa_data

        msoa11_cd                msoa11_hclnm       variable  value
0       E02000001              City of London          wk_05    -99
1       E02000002                  Marks Gate          wk_05    -99
2       E02000003         Chadwell Heath East          wk_05    -99
3       E02000004                Eastbrookend          wk_05    -99
4       E02000005             Becontree Heath          wk_05    -99
...           ...                         ...            ...    ...
258091  E02006931       Greenwich Town & Park  latest_7_days      9
258092  E02006932         Central & Islington  latest_7_days    175
258093  E02006933  Albert Dock & Queen's Dock  latest_7_days     31
258094  E02006934                   Pier Head  latest_7_days     28
258095  xxxxxxxxx                 unallocated  latest_7_days   1036

[258096 rows x 4 columns]

In [9]:
msoa_trend_data1 = msoa_data.replace(-99,0)
msoa_trend_data = msoa_trend_data1.replace('latest_7_days','wk_99')

In [10]:
msoa_trend_data['lenvar'] = msoa_trend_data['variable'].str.len()
##msoa_trend_data = msoa_trend_data[msoa_trend_data['lenvar']==5]
msoa_trend_data['weekasnumber'] = msoa_trend_data['variable'].str[3:5].astype(int)
msoa_trend_data

,msoa11_cd,msoa11_hclnm,variable,value,lenvar,weekasnumber
0,E02000001,City of London,wk_05,0,5,5
1,E02000002,Marks Gate,wk_05,0,5,5
2,E02000003,Chadwell Heath East,wk_05,0,5,5
3,E02000004,Eastbrookend,wk_05,0,5,5
4,E02000005,Becontree Heath,wk_05,0,5,5
...,...,...,...,...,...,...
258091,E02006931,Greenwich Town & Park,wk_99,9,5,99
258092,E02006932,Central & Islington,wk_99,175,5,99
258093,E02006933,Albert Dock & Queen's Dock,wk_99,31,5,99
258094,E02006934,Pier Head,wk_99,28,5,99
258095,xxxxxxxxx,unallocated,wk_99,1036,5,99

In [11]:
msoa_trend_data['weekasnumber'].unique()

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41, 99])

In [12]:
msoa_trend_data.columns

Index(['msoa11_cd', 'msoa11_hclnm', 'variable', 'value', 'lenvar',
       'weekasnumber'],
      dtype='object')

In [13]:
msoa_trend_data_df = msoa_trend_data.rename(columns={'msoa11_cd':'code',
                                                     'msoa11_hclnm':'name',
                                                     'variable':'weekastext',
                                                     'value':'cases',
                                                     'weekasnumber':'week'}).copy()

In [14]:
msoa_trend_data_df.columns

Index(['code', 'name', 'weekastext', 'cases', 'lenvar', 'week'], dtype='object')

In [15]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

The file does not exist

In [16]:
cwd = os.getcwd()
##lsoa_trend_data_df = lsoa_trend_data_df.iloc[1:]
msoa_trend_data_df.to_csv(path2file)
delim = ''','''

In [17]:
engine = create_engine('postgresql://pythonuser:pythonuser@localhost:5432/data')

In [18]:
import os
cwd = os.getcwd()
sqlfilename = cwd + '/CreateMSOATrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [19]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [20]:
sqlcmnd = 'COPY "raw_MSOATrends" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_MSOATrends" FROM \'/home/jupyterlab/data/data.csv\' DELIMITER \',\' CSV;'

In [21]:
with engine.connect().execution_options(autocommit=True) as con:

    con.execute(sqlcmnd)

In [22]:
sqlfilename = cwd + '/PopMSOATrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [23]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [24]:
#from sqlalchemy import create_engine
#engine = create_engine("postgres://myusername:mypassword@myhost:5432/mydatabase";)
##ews_df.to_postgis("ew_poloys", engine)

In [25]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

In [26]:
path2file = '/home/jupyterlab/data/Output_Area_to_LSOA_to_MSOA_to_Local_Authority_District__December_2017__Lookup_with_Area_Classifications_in_Great_Britain.csv'

In [27]:
oa_lookup_df = pd.read_csv(path2file)

In [28]:
path2file =  '/home/jupyterlab/data/data.csv'

In [29]:
cwd = os.getcwd()
oa_lookup_df.to_csv(path2file,header=False,quoting=csv.QUOTE_ALL)

In [30]:
oa_lookup_df.columns

Index(['OA11CD', 'OAC11CD', 'OAC11NM', 'LSOA11CD', 'LSOA11NM', 'SOAC11CD',
       'SOAC11NM', 'MSOA11CD', 'MSOA11NM', 'LAD17CD', 'LAD17NM', 'LACCD',
       'LACNM', 'RGN11CD', 'RGN11NM', 'CTRY11CD', 'CTRY11NM', 'FID'],
      dtype='object')

oa_lookup_df.to_sql(
    con=engine,
    name="testoalookup",
    if_exists="replace"
)

In [31]:
cwd = os.getcwd()
sqlfilename = cwd + '/CreateLSOAMSOALookupTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [32]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [33]:
sqlcmnd = 'COPY "raw_lsoalookup" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_lsoalookup" FROM \'/home/jupyterlab/data/data.csv\' DELIMITER \',\' CSV;'

In [34]:
with engine.connect().execution_options(autocommit=True) as con:

    con.execute(sqlcmnd)

In [35]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [36]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

In [37]:
cwd = os.getcwd()
sqlfilename = cwd + '/PopLSOALookUpTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [38]:
path2file =  '/home/jupyterlab/data/data.csv'
if os.path.exists(path2file):
  os.remove(path2file)
else:
  print("The file does not exist")

The file does not exist

In [39]:
cwd = os.getcwd()
sqlfilename = cwd + '/CreateCumSumTables.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [40]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()