<a href="https://colab.research.google.com/github/andrewcgaitskell/voila/blob/master/notebooks/ReshapeTimeSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import datetime
from matplotlib.ticker import (AutoMinorLocator, MultipleLocator)
import wget
from sqlalchemy import create_engine
import psycopg2

In [2]:
cwd = os.getcwd()
cwd

'/Users/andrewgaitskell/Documents/Dashboards/voila/notebooks/Get'

In [3]:
import seaborn as sns
sns.set()

In [4]:
urlconfirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
urldeaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
urlrecovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

In [5]:
filename = wget.download(urlconfirmed)
filename

'time_series_covid19_confirmed_global.csv'

In [6]:
confirmed = pd.read_csv(filename)

In [7]:
os.remove(filename)

In [8]:
filename = wget.download(urldeaths)
filename

'time_series_covid19_deaths_global.csv'

In [9]:
deaths = pd.read_csv(filename)

In [10]:
os.remove(filename)

In [11]:
filename = wget.download(urlrecovered)
filename

'time_series_covid19_recovered_global.csv'

In [12]:
recovered = pd.read_csv(filename)

In [13]:
os.remove(filename)

In [14]:
confirmed['source'] = 'confirmed'

In [15]:
deaths['source'] = 'deaths'

In [16]:
recovered['source'] = 'recovered'

In [17]:
frames = [confirmed, deaths, recovered]
combined = pd.concat(frames)

In [18]:
#combined country and state columns
combined['state_length'] = combined['Province/State'].str.len().fillna(0)
combined['Country_State'] = combined['Country/Region'] + np.where(combined['state_length']>0, '_'+combined['Province/State'], '')
combined.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20,source,state_length,Country_State
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,16509,17267,18054,18969,19551,20342,20917,confirmed,0.0,Afghanistan
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1164,1184,1197,1212,1232,1246,1263,confirmed,0.0,Albania
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,9626,9733,9831,9935,10050,10154,10265,confirmed,0.0,Algeria
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,844,851,852,852,852,852,852,confirmed,0.0,Andorra
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,86,86,86,86,88,91,92,confirmed,0.0,Angola

In [19]:
# time series data needs to be melted to then allow dates to be read in correctly
df_cols_index = combined.columns
df_cols_list = df_cols_index.tolist()
#remove non date columns - this allows dynamic update and melting of data
not_dates = ['Province/State','Country/Region','Lat','Long','state_length','Country_State', 'source']
date_list = []
for dates in df_cols_list:
    if dates not in not_dates :
        date_list.append(dates)

melted = pd.melt(combined, id_vars=['Country/Region','Country_State','source'], value_vars=date_list)
melted['Date'] = pd.to_datetime(melted['variable'], infer_datetime_format=True)

In [20]:
anchordate = datetime.datetime(2020, 1, 1)

#filter out any 0's before any discovery
all_data = melted[melted['value']>0]
earliest_date = all_data.groupby(["Country_State"])[['Date']].min().reset_index()
earliest_date.rename(columns={'Date':'EarliestConfirmedDate'}, inplace=True)
#join with main discovered dataset
data_withearliest = all_data.merge(earliest_date,how = 'inner',  left_on=['Country_State'], right_on=['Country_State'], suffixes = ['_l','_r'])
data_withearliest['DaysFromStart'] = (data_withearliest['Date'] - data_withearliest['EarliestConfirmedDate']).dt.days
data_withearliest['DaysFromAnchor'] = (data_withearliest['Date'] - anchordate).dt.days
data_withearliest.head()

,Country/Region,Country_State,source,variable,value,Date,EarliestConfirmedDate,DaysFromStart,DaysFromAnchor
0,China,China_Anhui,confirmed,1/22/20,1,2020-01-22,2020-01-22,0,21
1,China,China_Anhui,confirmed,1/23/20,9,2020-01-23,2020-01-22,1,22
2,China,China_Anhui,confirmed,1/24/20,15,2020-01-24,2020-01-22,2,23
3,China,China_Anhui,confirmed,1/25/20,39,2020-01-25,2020-01-22,3,24
4,China,China_Anhui,confirmed,1/26/20,60,2020-01-26,2020-01-22,4,25

In [21]:
all_data

,Country/Region,Country_State,source,variable,value,Date
49,China,China_Anhui,confirmed,1/22/20,1,2020-01-22
50,China,China_Beijing,confirmed,1/22/20,14,2020-01-22
51,China,China_Chongqing,confirmed,1/22/20,6,2020-01-22
52,China,China_Fujian,confirmed,1/22/20,1,2020-01-22
54,China,China_Guangdong,confirmed,1/22/20,26,2020-01-22
...,...,...,...,...,...,...
109110,Sao Tome and Principe,Sao Tome and Principe,recovered,6/8/20,68,2020-06-08
109111,Yemen,Yemen,recovered,6/8/20,23,2020-06-08
109112,Comoros,Comoros,recovered,6/8/20,67,2020-06-08
109113,Tajikistan,Tajikistan,recovered,6/8/20,2763,2020-06-08
109114,Lesotho,Lesotho,recovered,6/8/20,2,2020-06-08

In [22]:
# plotting all countries is impossible, so wanted to rank coutries based on Total discovered
max_source = all_data.groupby(['Country_State','source'])[['value']].max().reset_index()
#sum_discovered = all_discovered.groupby(['Country_State'])[['value']].sum().reset_index()
max_source.rename(columns = {'value':'Max Source'}, inplace = True) 
#sum_discovered

In [23]:
data_withmax = data_withearliest.merge(max_source,how = 'inner',  left_on=['Country_State','source'],
                                       right_on=['Country_State','source'], suffixes = ['_l','_r'])
data_withmax['TrendValue'] = data_withmax['value']/data_withmax['Max Source']

#sd = sum_discovered.sort_values('value',ascending=False)
#sd.head(25)

In [24]:
max_confirmed = max_source[max_source['source']=='confirmed'].copy()
max_confirmed['Country_Rank'] = max_confirmed['Max Source'].rank()

In [25]:
md = max_confirmed[['Country_Rank','Country_State']]
# add rank data to main dataset
data_withrank = data_withmax.merge(md, how = 'inner',  left_on=['Country_State'], right_on=['Country_State'], suffixes = ['_l','_r'])
data_withrank

,Country/Region,Country_State,source,variable,value,Date,EarliestConfirmedDate,DaysFromStart,DaysFromAnchor,Max Source,TrendValue,Country_Rank
0,China,China_Anhui,confirmed,1/22/20,1,2020-01-22,2020-01-22,0,21,991,0.001009,134.0
1,China,China_Anhui,confirmed,1/23/20,9,2020-01-23,2020-01-22,1,22,991,0.009082,134.0
2,China,China_Anhui,confirmed,1/24/20,15,2020-01-24,2020-01-22,2,23,991,0.015136,134.0
3,China,China_Anhui,confirmed,1/25/20,39,2020-01-25,2020-01-22,3,24,991,0.039354,134.0
4,China,China_Anhui,confirmed,1/26/20,60,2020-01-26,2020-01-22,4,25,991,0.060545,134.0
...,...,...,...,...,...,...,...,...,...,...,...,...
65945,Lesotho,Lesotho,recovered,6/4/20,2,2020-06-04,2020-05-13,22,155,2,1.000000,5.0
65946,Lesotho,Lesotho,recovered,6/5/20,2,2020-06-05,2020-05-13,23,156,2,1.000000,5.0
65947,Lesotho,Lesotho,recovered,6/6/20,2,2020-06-06,2020-05-13,24,157,2,1.000000,5.0
65948,Lesotho,Lesotho,recovered,6/7/20,2,2020-06-07,2020-05-13,25,158,2,1.000000,5.0
65949,Lesotho,Lesotho,recovered,6/8/20,2,2020-06-08,2020-05-13,26,159,2,1.000000,5.0

In [26]:
# more control over sub plots
import matplotlib.pyplot as plt

In [27]:
# looking at how to split up the countries
#fig, ax = plt.subplots()
#fig = plt.figure()
countryranksbuckets = data_withrank.groupby(['Country/Region'])[['Country_Rank']].max().reset_index()
BucketSize = 20
countryranksbuckets['Bucket'] = countryranksbuckets['Country_Rank']/BucketSize

#countryranksbuckets['Rounded_Bucket'] = countryranksbuckets.round({countryranksbuckets['Bucket']:0})
newdf = countryranksbuckets.round({"Bucket":0})
newdf['RankMin'] = (newdf['Bucket']*BucketSize) - BucketSize
newdf['RankMax'] = (newdf['Bucket']*BucketSize)
#newdf.groupby(['Country/Region'])[['Country_Rank']].max().reset_index()
newdf1 = newdf.groupby(['Bucket','RankMin','RankMax']).count().reset_index()
newdf1['CumSum'] = newdf1['Country_Rank'].cumsum(axis = 0) 
newdf1

    Bucket  RankMin  RankMax  Country/Region  Country_Rank  CumSum
0      0.0    -20.0      0.0               2             2       2
1      1.0      0.0     20.0              10            10      12
2      2.0     20.0     40.0              13            13      25
3      3.0     40.0     60.0               9             9      34
4      4.0     60.0     80.0               6             6      40
5      5.0     80.0    100.0              14            14      54
6      6.0    100.0    120.0              12            12      66
7      7.0    120.0    140.0              12            12      78
8      8.0    140.0    160.0              17            17      95
9      9.0    160.0    180.0              18            18     113
10    10.0    180.0    200.0              20            20     133
11    11.0    200.0    220.0              19            19     152
12    12.0    220.0    240.0              20            20     172
13    13.0    240.0    260.0              16            16     188

In [28]:
#datatoplot = data_withrank[(data_withrank['Country_Rank']>240) & (data_withrank['Country/Region'] != 'China') ]
#figuredata = datatoplot[datatoplot['Country_State'] == 'China_Hubei']
#figuredata

In [29]:
engine = create_engine('postgresql://pythonuser:pythonuser@localhost:5432/data')
#data_withrank.to_sql('tbl_CovidCDRTrends', engine, if_exists='replace')

In [41]:
cwd = os.getcwd()
path2file =  cwd + '/' + 'data.csv'
data_withrank.to_csv(path2file)

In [42]:
import os
cwd = os.getcwd()
sqlfilename = cwd + '/CreateCDRTrendsTable.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [43]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [46]:
sqlcmnd = 'COPY "raw_CDRTrends" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd

'COPY "raw_CDRTrends" FROM \'/Users/andrewgaitskell/Documents/Dashboards/voila/notebooks/Get/data.csv\' DELIMITER \',\' CSV;'

In [47]:
with engine.connect().execution_options(autocommit=True) as con:

    con.execute(sqlcmnd)

In [52]:
sqlfilename = cwd + '/PopCDRTrendsTables.sql'
f = open(sqlfilename, "r")
fs = f.read()

In [53]:
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()